


::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background-color: #eee;
  box-shadow: 0 0 10px #ddd inset;
}

::-webkit-scrollbar-thumb{
  background-color: #006650;
  border-radius: 10px;
}

/* استيراد الخط من جوجل */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

/* تطبيق الخط على كامل الموقع */
body {
  font-family: 'Cairo', sans-serif !important;
}

/* اختيارياً: يمكنك جعل الخط يطبق على العناوين فقط أو أجزاء معينة */
h1, h2, h3, .navbar-brand {
  font-family: 'Cairo', sans-serif !important;
  font-weight: 700;
}